.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDE7E8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);   
  }

  .week-text {
    font-size: 24px;
    font-weight: bold;
    color: #bf1650;
    margin-bottom: 10px;
  }
  .week-links {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;

  }
  
  #progress-bar {
    font-size: 24px;
    color: #333;
  }
  #progress-bar span {
    cursor: pointer;
  }
  #progress-bar .prize {
    color: gold;
  }
  #progress-bar .win {
    color: green;
  }
  


#progress-bar {
  /* display: grid; */
  /* justify-content: space-between; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  /* grid-gap: 10px; */
  align-items: center;
  margin: 0 auto;
  border-color: pink;
  border-style: solid;
}

#progress-bar a {
  text-decoration: none;
}

#progress-bar .stage {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ddd;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  line-height: 3em;
  margin: 0 1em;
}

#progress-bar .stage.unlocked {
  background-color: #0095DD;
}

#progress-bar .stage.completed {
  background-color: #5cb85c;
}

#progress-bar a.game .stage:before {
  content: "\1F3AE";
}

#progress-bar a.prize .stage:before {
  content: "\1F381";
}

#progress-bar a.prize .stage {
  background-color: gold;
}

#progress-bar a.win .stage:before {
  content: "❤️";
}

#progress-bar a.locked .stage:hover:before {
  content: "\1F512";
}
